{% extends 'base.html.twig' %}

{% block title %}about{% endblock %}

{% block main %}
    <!-- Our Story Section -->
    <main class="w-[80%] mx-auto">
        <section class="our-story mb-12">
            <h1 class="text-3xl mb-2">Our Story </h1>
            <p>We started Exclusive in our second year, frustrated that buying and selling between students was scattered across group chats and notice boards. There had to be a better way.
                What began as a side project between two computer science students has grown into a trusted marketplace connecting thousands of students across campuses — from textbooks and electronics to handmade goods and vintage finds.</p>
        </section>



    </main>
{% endblock %}


