{% extends 'base.html.twig' %}

{% block title %}about{% endblock %}

{% block main %}

    <main class="w-[80%] mx-auto">
        <!-- Our Story Section -->
        <section class="our-story mb-12">
            <h1 class="text-3xl mb-2">Our Story </h1>
            <p class=" text-xl font-light">We started Exclusive in our second year, frustrated that buying and selling between people was scattered across group chats and notice boards. There had to be a better way.
                What began as a side project between two computer science students is growing into a trusted marketplace connecting thousands of people </p>
        </section>
        <!--founders of Exclusive -->
        <section class="founders flex justify-between mb-12 w-[90%] mx-auto">
            <div class="w-[40%] overflow-visible">
                <img class="block rounded-lg transition-transform duration-300 hover:scale-110"
                     src="{{ asset('images/general/259527986.jpg') }}"
                     alt="">
                <p class="mt-2 text-center font-medium text-xl">Amen Allah</p>
            </div>
            <div class="w-[40%]">
                <img class="rounded-lg" src="{{ asset('images/general/249425167.png') }}" alt="">
                <p class="mt-2 text-center font-medium text-xl">Azer</p>
            </div>
        </section>
    </main>
{% endblock %}


