*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width:85%;
    margin:2.5em auto ;
}

a{
    text-decoration: none;
    color: #000;
}

.ad{
    background-color: black;
    color:#FFFFFF ;
    text-align: center;
    padding:1.3em;
    font-size: 1rem;
    margin-bottom: 2em;
}
.ad a{
    text-decoration: underline;
    text-decoration-color: #FFFFFF;
    color: #FFFFFF;
    font-weight: 600;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 1.5em;
    border-bottom: 2px solid gray;
}
.nav-container h1{
    font-size: 2.2rem;
    margin-left: 1em;
}
.nav-container ul{
    display: flex;
    font-size:1.4rem;
    gap: 2em;
    list-style: none;
}
.nav-container li:hover{
    text-decoration: underline;
    text-decoration-color:black;
}

.search{
    display: flex;
    align-items: center;
    gap: 0.5em;
    margin-right: 1em;

}


.search input{
    font-size:1rem;
    padding: 1.4em;
    border-radius: 999px;
}

.catchy{
    width:85%;
    margin:0 auto ;
    display: flex;
    justify-content: space-between;
}
.catchy nav{
    width: 15%;
}
.catchy img{
    width: 75%;
    display: block;
    max-width: 100%;
}
.catchy  ul{
    height: 100%;
    padding: 2em ;
    border-right: 2px solid gray;
    display: flex;
    flex-flow: column nowrap;
    list-style: none;
    gap: 1em;
    justify-content: center;
} 
.catchy a{
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
}




.best-selling > h1{
    color: #DB4444;
    font-size: 1rem;
}
.title{
    display: flex;
    justify-content:space-between;
}
.title h1{
    font-size: 2rem;
    color: black;
    font-weight: 750;
}
.title button{
    background-color: #DB4444;
    font-size: .8rem;
    border-radius: 7px;
    border-color: transparent;
    color: white;
    padding: 1em 1.8em;
    cursor: pointer;
}
.products{
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
}
.product{
    display: flex;
    flex-flow: column nowrap;
    width: 20%;
}
.product h1{
    color: black;
    font-size: 1rem;
}
.product > img{
    display: block;
    height: 50%;
    object-fit: contain;
    max-width: 100%;
    background-color: #F5F5F5;
    padding: 1em;
    border-radius: 10px;
}
.product p{
    color:#DB4444 ;
}
.rate{
    display: flex;
}
.rate p{
    color: #000;;
}


.our-products{
    margin-top: 1.5em;
    padding: 1.5em 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.our-products > h1{
    color: #DB4444;
    font-size: 1rem;
}

#arrow{
    aspect-ratio: 1/1;
    border-radius: 50%;
    border-color: transparent;
    background-color:#F5F5F5;
}


.button-container{
    display: flex;
    justify-content: center;
}

.button-container button{
    color: white;
    background-color: #DB4444;
    font-size: 1.3rem;
    padding: 1em 1.8em;
    border-radius: 5px;
    border-color: transparent;
    cursor: pointer;

}

footer{
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    padding: 2em 0 5em; 
}

footer > div:last-child{
    display: flex;
    flex-direction: column;
}
.download-container{
    display:flex;
    justify-content: space-between;
}
.download-container div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.socials{
    display:flex;
    justify-content:center;
    gap:1.3em;
    margin-top:0.7em;
}

footer h1{
    margin-bottom: .8em;
}
footer p{
    line-height: 2;
}
footer input{
    background-color: black;
    color: white;
    padding: 1em;
    margin-top: 1em;
    border: .7px solid white;
    font-size: 1rem;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    text-decoration: underline;
    text-decoration-color: red;
}


.featured h1:first-child{
    color: #DB4444;
    font-size: 1rem;
    line-height: 2;
}
.featured > div {
    display : flex;
    justify-content: center;
    gap:3em;
    margin-top: 2em;
}
.featured img{
    max-width: 100%;
    display: block;
    background-color: black;
    padding: 1.5em;
    border-radius: 3px;
}

.featured > div div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offers{
    display: flex;
    justify-content: space-evenly;
    margin: 6em 0 ;
}
.offers img{
    background-color: black;
    aspect-ratio: 1/1;
    padding:.3em;
    border-radius: 50%;
}
.offers  div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:.5em
}
.offers h1{
    font-size: 1.2rem;
}
.offers p{
    font-size: .8rem;
}

.login{
    display: flex;
    justify-content: space-evenly;
}
.login img{
    max-width: 100%;
    display: block;
}
.form button:first-of-type{
    background-color: #DB4444;
    font-size: .8rem;
    border-color: transparent;
    color: white;
    padding: 1em 1.8em;
    cursor: pointer;
    width: 75%;
}
.form button:nth-of-type(2){
    font-size: .8rem;
    border-color: transparent;
    padding: 1em 1.8em;
    cursor: pointer;
    width: 75%;
}
.form{
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
}
.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1em
}
.inputs input{
    border: none;
    border-bottom: 1px solid #ccc;
    background: transparent;
    outline: none;
}


input:focus {
  border-bottom: 2px solid #007bff;
}



.login a{
    color: #000;
}


.login a:hover{
    text-decoration: underline;
    text-decoration-color: red;
}



.cart-menu{
    display: flex;
    flex-direction: column;
    gap:1em;
    margin-bottom: 2em;
}
.cart-menu button{
    font-size: .8rem;
    padding: .8em 1em;
    background-color: white;
    margin-top: 1.5em;
}


.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row button{
    font-size: .9rem;
    padding: .5em;
    border: .5px solid #ccc;
}

.checkout-prep{
    margin-bottom: 10em;
}

.checkout-prep input, .checkout-prep button{
    font-size: 1rem;
    padding: .5em;
}
.checkout-prep button{
    background-color: #DB4444;
    color: white;
    border:none;
}

.checkout-prep .row div:last-child{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid black;
    padding: 1em;
}
.history p{
    font-size:1.2rem ;
}
.history h1{
    font-size: 2.5rem;
    line-height: 2;
}
.history p:first-of-type{
    margin-bottom: 1em;
}

.statistics {
    margin:4em 0;
    display: flex;
    justify-content: space-between;
    align-items:  baseline;
}

.statistics div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: .5px solid black;
    gap: .5em;
    padding: .8em;
}

.statistics img{
    display: block;
    max-width: 100%;
    background-color: black;
    aspect-ratio: 1/1;
    padding: .5em;
    border: 9px solid lightgray;
    border-radius: 40%;
    object-fit: contain;
}
.statistics div:nth-child(2) img{
    background-color: white;
}

.statistics div:nth-child(2) {
    background-color: #DB4444;
    color: white;
}

.team{
    display :flex;
    justify-content: space-evenly;
}
.contact{
    display :flex;
    justify-content: space-evenly;
    height: 60vh;
}
.contact > div{
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: stretch;
}

.contact > div div:nth-child(1){
    border-bottom: .5px solid lightgrey;
} 

.info{
    display: flex;
    gap:1em
}
.info input{
    background-color: #F5F5F5;
    border: none;
    padding: .7em;
}
.info input:focus{
    outline: none;
}
.contact div:last-child div:last-child{
    display: flex;
    justify-content: flex-end;
}
.contact button{
    background-color: #DB4444;
    color: white;
    border: none;
    padding: 1em;
}

#message{
    width: 100%;
    border: none;
    background-color:#F5F5F5 ;
    font-size: .9rem;
    min-height: 120px;
    padding: .5em;
}
#message:focus{
    outline: none;
}
